body {
    font-family: Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif;
    font-size:12px;
    padding-top:12px;
    width: 600px;
}

.space-link {
    padding-right:10px;
    padding-top:10px;
}

#space-links {
    margin-top:8px;
}

.first-space-link {
    padding-left:20px;
}


span.ticket-desc {
    float:left;
    display:block;
}

span.ticket-est {
    float:right;
    display:block;
}

span.ticket-due {
    float:right;
    padding-left:5px;
    display:block;
}
span.past_due {
    color : #d42020
}

div.loader-bar {
    background:url(../img/ajax-loader-bar.gif) center no-repeat;
    width: 100%;
    height:19px;
    padding-top: 25px;
    padding-bottom: 25px;
}

ul.ticket_info {
    list-style-type:none;
}

ul.ticket_info div.left-column {
    float:left;
    width:150px;
}
ul.ticket_info div.right-column {
    float:left;
    width:150px;
}

span.timelog-name {
    float:left;
    display:block;
}
span.timelog-hours {
    float:right;
    display:block;
}
ul.timelog-info {
    list-style-type:none;
}
span.space_name {
    float:left;
}
a.gototicket {
    float:right;
}