body {
    font-family: Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif;
    font-size:12px;
    padding-top:12px;
    width: 600px;
}

.space-link {
    padding-right:10px;
    padding-top:10px;
}

#space-links {
    margin-top:8px;
}

.first-space-link {
    padding-left:20px;
}


span.ticket-desc {
    float:left;
    display:block;
}

span.ticket-est {
    float:right;
    display:block;
}

span.ticket-due {
    float:right;
    padding-left:5px;
    display:block;
}
span.past_due {
    color : #d42020
}